.card {
  width: 300px;
  min-height: 200px;
  max-height: 300px;
  border: 1px solid grey;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
}
